.movie-detail-panel {
    margin-top: 10px;
    display: block;
    height: auto;
    max-width: 400px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #818383;

}

.movie-detail-panel h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-detail-panel p {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    max-height: 200px;
    overflow-y: auto;
}